<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina</title>
</head>
<body>
    <h1>Listado de Paginas</h1>
    <small>Lo haria con diseño, pero que flojera, salu2</small>

    <ul>
        <li>
            <a href="/practice/datos">
                Traer tipos de datos a la vista - I (<small>uno</small>)
            </a>
        </li>
        <li>
            <a href="/practice/datos2">
                Traer tipos de datos a la vista - II (<small>dos</small>)
            </a>
        </li>
        <li>
            <a href="/app/indexandoConSpring">
                Jugando con interfaces
            </a>
        </li>
    </ul>
</body>
</html>