<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${miTituloDePagina}"></title>
   
    <!-- Concatenando un valor -->
    <!-- Concantendo al valor a la variable -->
    <!-- <title th:text="${miTituloDePagina + ' gatos'}"></title> -->

    <link rel="stylesheet" href="/css/arreglitos.css" type="text/css">
    
    <style>
        table, tr, td {
            border: 1px solid mediumvioletred
        }
    </style>


</head>
<body>

    <div class="nav">
        <a href="/app/inicio">
            <img src="/icons/home.svg" alt="">
        </a> &nbsp;&nbsp;&nbsp;<--- Por aqui puedes vovler al inicio (<small>asies, para esto si me tome el tiempo, salu2</small>)
    </div>
    
    <div>

        Mi variable String: 
        <span th:text="${ stringsito }"></span>

        <br>

        Mi numero es: 
        <span th:text="${ miNumero }"></span>

        <h3>Mi lista</h3>

        <div th:each=" panda : ${ listaDeNombres } ">
            <span th:text="${ panda }"></span>
        </div>

        <h3>Mi lista en tabla</h3>

        <table>
            <tr th:each=" panda : ${ listaDeNombres } ">
                <td th:text="${ panda }"></td>
                <td>Mi nuevo dato</td>
            </tr>
        </table>
        
    </div>

</body>
</html>